@import "tailwindcss";

@theme {
  --color-background: #ededed;
  --color-foreground: ##0a090e;
  --font-sans: geist-sans;
  --font-mono: geist-mono;
}

:root {
  --background: #ffffff;
  --foreground: ##0a090e;
}
.dark {
  --background: #0a090e;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-radial ;
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}
